.img-burger {
    background: url('//push.wixcore.net/inventory/items/burger.png') no-repeat;
    width: 41px;
    height: 41px;
}

.img-cola {
    background: url('//push.wixcore.net/inventory/items/cola.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 39px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-cap {
    background: url('//push.wixcore.net/inventory/outfit/hat.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 36px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-glasses {
    background: url('//push.wixcore.net/inventory/outfit/glasses.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 41px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-mask {
    background: url('//push.wixcore.net/inventory/outfit/mask.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-shirt {
    background: url('//push.wixcore.net/inventory/outfit/shirt.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-jewerly {
    background: url('//push.wixcore.net/inventory/outfit/jewerly.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-earrings {
    background: url('//push.wixcore.net/inventory/outfit/earrings.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 31px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-jeans {
    background: url('//push.wixcore.net/inventory/outfit/pants.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 18px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-watch {
    background: url('//push.wixcore.net/inventory/outfit/watch.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 20px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-bracelet {
    background: url('//push.wixcore.net/inventory/outfit/bracelet.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 19px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-boot {
    background: url('//push.wixcore.net/inventory/outfit/shoes.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-clock {
    background: url('//push.wixcore.net/inventory/outfit/circular-clock-tool.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 32px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-armour {
    background: url('//push.wixcore.net/inventory/outfit/armour.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 32px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-phone {
    background: url('//push.wixcore.net/inventory/outfit/smartphone.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 22px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-money {
    background: url('//push.wixcore.net/inventory/outfit/notes.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 35px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-card {
    background: url('//push.wixcore.net/inventory/outfit/credit-card.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 33px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

/*WEAPON*/
.img-279 {
    background: url('http://localhost/weapon/img-weapon.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 40px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-machete {
    background: url('http://localhost/weapon/machete.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 40px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

/*DRUGS*/
.img-cocaine {
    background: url('http://localhost/items/drugs.png') no-repeat;
    width: 41px;
    height: 41px;
    background-size: 36px;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(107%) contrast(100%);
}

.img-0 {
    background: url('//push.wixcore.net/inventory/items/0.png') no-repeat
}

.img-1 {
    background: url('//push.wixcore.net/inventory/items/1.png') no-repeat
}

.img-2 {
    background: url('//push.wixcore.net/inventory/items/2.png') no-repeat
}

.img-3 {
    background: url('//push.wixcore.net/inventory/items/3.png') no-repeat
}

.img-4 {
    background: url('//push.wixcore.net/inventory/items/4.png') no-repeat
}

.img-5 {
    background: url('//push.wixcore.net/inventory/items/5.png') no-repeat
}

.img-6 {
    background: url('//push.wixcore.net/inventory/items/6.png') no-repeat
}

.img-7 {
    background: url('//push.wixcore.net/inventory/items/7.png') no-repeat
}

.img-8 {
    background: url('//push.wixcore.net/inventory/items/8.png') no-repeat
}

.img-9 {
    background: url('//push.wixcore.net/inventory/items/9.png') no-repeat
}

.img-10 {
    background: url('//push.wixcore.net/inventory/items/10.png') no-repeat
}

.img-11 {
    background: url('//push.wixcore.net/inventory/items/11.png') no-repeat
}

.img-12 {
    background: url('//push.wixcore.net/inventory/items/12.png') no-repeat
}

.img-13 {
    background: url('//push.wixcore.net/inventory/items/13.png') no-repeat
}

.img-14 {
    background: url('//push.wixcore.net/inventory/items/14.png') no-repeat
}

.img-15 {
    background: url('//push.wixcore.net/inventory/items/15.png') no-repeat
}

.img-16 {
    background: url('//push.wixcore.net/inventory/items/16.png') no-repeat
}

.img-17 {
    background: url('//push.wixcore.net/inventory/items/17.png') no-repeat
}

.img-18 {
    background: url('//push.wixcore.net/inventory/items/18.png') no-repeat
}

.img-19 {
    background: url('//push.wixcore.net/inventory/items/19.png') no-repeat
}

.img-20 {
    background: url('//push.wixcore.net/inventory/items/20.png') no-repeat
}

.img-21 {
    background: url('//push.wixcore.net/inventory/items/21.png') no-repeat
}

.img-22 {
    background: url('//push.wixcore.net/inventory/items/22.png') no-repeat
}

.img-23 {
    background: url('//push.wixcore.net/inventory/items/23.png') no-repeat
}

.img-24 {
    background: url('//push.wixcore.net/inventory/items/24.png') no-repeat
}

.img-25 {
    background: url('//push.wixcore.net/inventory/items/25.png') no-repeat
}

.img-26 {
    background: url('//push.wixcore.net/inventory/items/26.png') no-repeat
}

.img-27 {
    background: url('//push.wixcore.net/inventory/items/27.png') no-repeat
}

.img-28 {
    background: url('//push.wixcore.net/inventory/items/28.png') no-repeat
}

.img-29 {
    background: url('//push.wixcore.net/inventory/items/29.png') no-repeat
}

.img-30 {
    background: url('//push.wixcore.net/inventory/items/30.png') no-repeat
}

.img-31 {
    background: url('//push.wixcore.net/inventory/items/31.png') no-repeat
}

.img-32 {
    background: url('//push.wixcore.net/inventory/items/32.png') no-repeat
}

.img-33 {
    background: url('//push.wixcore.net/inventory/items/33.png') no-repeat
}

.img-34 {
    background: url('//push.wixcore.net/inventory/items/34.png') no-repeat
}

.img-35 {
    background: url('//push.wixcore.net/inventory/items/35.png') no-repeat
}

.img-36 {
    background: url('//push.wixcore.net/inventory/items/36.png') no-repeat
}

.img-37 {
    background: url('//push.wixcore.net/inventory/items/37.png') no-repeat
}

.img-38 {
    background: url('//push.wixcore.net/inventory/items/38.png') no-repeat
}

.img-39 {
    background: url('//push.wixcore.net/inventory/items/39.png') no-repeat
}

.img-40 {
    background: url('//push.wixcore.net/inventory/items/40.png') no-repeat
}

.img-41 {
    background: url('//push.wixcore.net/inventory/items/41.png') no-repeat
}

.img-42 {
    background: url('//push.wixcore.net/inventory/items/42.png') no-repeat
}

.img-43 {
    background: url('//push.wixcore.net/inventory/items/43.png') no-repeat
}

.img-44 {
    background: url('//push.wixcore.net/inventory/items/44.png') no-repeat
}

.img-45 {
    background: url('//push.wixcore.net/inventory/items/45.png') no-repeat
}

.img-46 {
    background: url('//push.wixcore.net/inventory/items/46.png') no-repeat
}

.img-47 {
    background: url('//push.wixcore.net/inventory/items/47.png') no-repeat
}

.img-48 {
    background: url('//push.wixcore.net/inventory/items/48.png') no-repeat
}

.img-49 {
    background: url('//push.wixcore.net/inventory/items/49.png') no-repeat
}

.img-50 {
    background: url('//push.wixcore.net/inventory/items/50.png') no-repeat
}

.img-51 {
    background: url('//push.wixcore.net/inventory/items/51.png') no-repeat
}

.img-52 {
    background: url('//push.wixcore.net/inventory/items/52.png') no-repeat
}

.img-53 {
    background: url('//push.wixcore.net/inventory/items/53.png') no-repeat
}

.img-54 {
    background: url('//push.wixcore.net/inventory/items/54.png') no-repeat
}

.img-55 {
    background: url('//push.wixcore.net/inventory/items/55.png') no-repeat
}

.img-56 {
    background: url('//push.wixcore.net/inventory/items/56.png') no-repeat
}

.img-57 {
    background: url('//push.wixcore.net/inventory/items/57.png') no-repeat
}

.img-58 {
    background: url('//push.wixcore.net/inventory/items/58.png') no-repeat
}

.img-59 {
    background: url('//push.wixcore.net/inventory/items/59.png') no-repeat
}

.img-60 {
    background: url('//push.wixcore.net/inventory/items/60.png') no-repeat
}

.img-61 {
    background: url('//push.wixcore.net/inventory/items/61.png') no-repeat
}

.img-62 {
    background: url('//push.wixcore.net/inventory/items/62.png') no-repeat
}

.img-63 {
    background: url('//push.wixcore.net/inventory/items/63.png') no-repeat
}

.img-64 {
    background: url('//push.wixcore.net/inventory/items/64.png') no-repeat
}

.img-65 {
    background: url('//push.wixcore.net/inventory/items/65.png') no-repeat
}

.img-66 {
    background: url('//push.wixcore.net/inventory/items/66.png') no-repeat
}

.img-67 {
    background: url('//push.wixcore.net/inventory/items/67.png') no-repeat
}

.img-68 {
    background: url('//push.wixcore.net/inventory/items/68.png') no-repeat
}

.img-69 {
    background: url('//push.wixcore.net/inventory/items/69.png') no-repeat
}

.img-70 {
    background: url('//push.wixcore.net/inventory/items/70.png') no-repeat
}

.img-71 {
    background: url('//push.wixcore.net/inventory/items/71.png') no-repeat
}

.img-72 {
    background: url('//push.wixcore.net/inventory/items/72.png') no-repeat
}

.img-73 {
    background: url('//push.wixcore.net/inventory/items/73.png') no-repeat
}

.img-74 {
    background: url('//push.wixcore.net/inventory/items/74.png') no-repeat
}

.img-75 {
    background: url('//push.wixcore.net/inventory/items/75.png') no-repeat
}

.img-76 {
    background: url('//push.wixcore.net/inventory/items/76.png') no-repeat
}

.img-77 {
    background: url('//push.wixcore.net/inventory/items/77.png') no-repeat
}

.img-78 {
    background: url('//push.wixcore.net/inventory/items/78.png') no-repeat
}

.img-79 {
    background: url('//push.wixcore.net/inventory/items/79.png') no-repeat
}

.img-80 {
    background: url('//push.wixcore.net/inventory/items/80.png') no-repeat
}

.img-81 {
    background: url('//push.wixcore.net/inventory/items/81.png') no-repeat
}

.img-82 {
    background: url('//push.wixcore.net/inventory/items/82.png') no-repeat
}

.img-83 {
    background: url('//push.wixcore.net/inventory/items/83.png') no-repeat
}

.img-84 {
    background: url('//push.wixcore.net/inventory/items/84.png') no-repeat
}

.img-85 {
    background: url('//push.wixcore.net/inventory/items/85.png') no-repeat
}

.img-86 {
    background: url('//push.wixcore.net/inventory/items/86.png') no-repeat
}

.img-87 {
    background: url('//push.wixcore.net/inventory/items/87.png') no-repeat
}

.img-88 {
    background: url('//push.wixcore.net/inventory/items/88.png') no-repeat
}

.img-89 {
    background: url('//push.wixcore.net/inventory/items/89.png') no-repeat
}

.img-90 {
    background: url('//push.wixcore.net/inventory/items/90.png') no-repeat
}

.img-91 {
    background: url('//push.wixcore.net/inventory/items/91.png') no-repeat
}

.img-92 {
    background: url('//push.wixcore.net/inventory/items/92.png') no-repeat
}

.img-93 {
    background: url('//push.wixcore.net/inventory/items/93.png') no-repeat
}

.img-94 {
    background: url('//push.wixcore.net/inventory/items/94.png') no-repeat
}

.img-95 {
    background: url('//push.wixcore.net/inventory/items/95.png') no-repeat
}

.img-96 {
    background: url('//push.wixcore.net/inventory/items/96.png') no-repeat
}

.img-97 {
    background: url('//push.wixcore.net/inventory/items/97.png') no-repeat
}

.img-98 {
    background: url('//push.wixcore.net/inventory/items/98.png') no-repeat
}

.img-99 {
    background: url('//push.wixcore.net/inventory/items/99.png') no-repeat
}

.img-100 {
    background: url('//push.wixcore.net/inventory/items/100.png') no-repeat
}

.img-101 {
    background: url('//push.wixcore.net/inventory/items/101.png') no-repeat
}

.img-102 {
    background: url('//push.wixcore.net/inventory/items/102.png') no-repeat
}

.img-103 {
    background: url('//push.wixcore.net/inventory/items/103.png') no-repeat
}

.img-104 {
    background: url('//push.wixcore.net/inventory/items/104.png') no-repeat
}

.img-105 {
    background: url('//push.wixcore.net/inventory/items/105.png') no-repeat
}

.img-106 {
    background: url('//push.wixcore.net/inventory/items/106.png') no-repeat
}

.img-107 {
    background: url('//push.wixcore.net/inventory/items/107.png') no-repeat
}

.img-108 {
    background: url('//push.wixcore.net/inventory/items/108.png') no-repeat
}

.img-109 {
    background: url('//push.wixcore.net/inventory/items/109.png') no-repeat
}

.img-110 {
    background: url('//push.wixcore.net/inventory/items/110.png') no-repeat
}

.img-111 {
    background: url('//push.wixcore.net/inventory/items/111.png') no-repeat
}

.img-112 {
    background: url('//push.wixcore.net/inventory/items/112.png') no-repeat
}

.img-113 {
    background: url('//push.wixcore.net/inventory/items/113.png') no-repeat
}

.img-114 {
    background: url('//push.wixcore.net/inventory/items/114.png') no-repeat
}

.img-115 {
    background: url('//push.wixcore.net/inventory/items/115.png') no-repeat
}

.img-116 {
    background: url('//push.wixcore.net/inventory/items/116.png') no-repeat
}

.img-117 {
    background: url('//push.wixcore.net/inventory/items/117.png') no-repeat
}

.img-118 {
    background: url('//push.wixcore.net/inventory/items/118.png') no-repeat
}

.img-119 {
    background: url('//push.wixcore.net/inventory/items/119.png') no-repeat
}

.img-120 {
    background: url('//push.wixcore.net/inventory/items/120.png') no-repeat
}

.img-121 {
    background: url('//push.wixcore.net/inventory/items/121.png') no-repeat
}

.img-122 {
    background: url('//push.wixcore.net/inventory/items/122.png') no-repeat
}

.img-123 {
    background: url('//push.wixcore.net/inventory/items/123.png') no-repeat
}

.img-124 {
    background: url('//push.wixcore.net/inventory/items/124.png') no-repeat
}

.img-125 {
    background: url('//push.wixcore.net/inventory/items/125.png') no-repeat
}

.img-126 {
    background: url('//push.wixcore.net/inventory/items/126.png') no-repeat
}

.img-127 {
    background: url('//push.wixcore.net/inventory/items/127.png') no-repeat
}

.img-128 {
    background: url('//push.wixcore.net/inventory/items/128.png') no-repeat
}

.img-129 {
    background: url('//push.wixcore.net/inventory/items/129.png') no-repeat
}

.img-130 {
    background: url('//push.wixcore.net/inventory/items/130.png') no-repeat
}

.img-131 {
    background: url('//push.wixcore.net/inventory/items/131.png') no-repeat
}

.img-132 {
    background: url('//push.wixcore.net/inventory/items/132.png') no-repeat
}

.img-133 {
    background: url('//push.wixcore.net/inventory/items/133.png') no-repeat
}

.img-134 {
    background: url('//push.wixcore.net/inventory/items/134.png') no-repeat
}

.img-135 {
    background: url('//push.wixcore.net/inventory/items/135.png') no-repeat
}

.img-136 {
    background: url('//push.wixcore.net/inventory/items/136.png') no-repeat
}

.img-137 {
    background: url('//push.wixcore.net/inventory/items/137.png') no-repeat
}

.img-138 {
    background: url('//push.wixcore.net/inventory/items/138.png') no-repeat
}

.img-139 {
    background: url('//push.wixcore.net/inventory/items/139.png') no-repeat
}

.img-140 {
    background: url('//push.wixcore.net/inventory/items/140.png') no-repeat
}

.img-141 {
    background: url('//push.wixcore.net/inventory/items/141.png') no-repeat
}

.img-142 {
    background: url('//push.wixcore.net/inventory/items/142.png') no-repeat
}

.img-143 {
    background: url('//push.wixcore.net/inventory/items/143.png') no-repeat
}

.img-144 {
    background: url('//push.wixcore.net/inventory/items/144.png') no-repeat
}

.img-145 {
    background: url('//push.wixcore.net/inventory/items/145.png') no-repeat
}

.img-146 {
    background: url('//push.wixcore.net/inventory/items/146.png') no-repeat
}

.img-147 {
    background: url('//push.wixcore.net/inventory/items/147.png') no-repeat
}

.img-148 {
    background: url('//push.wixcore.net/inventory/items/148.png') no-repeat
}

.img-149 {
    background: url('//push.wixcore.net/inventory/items/149.png') no-repeat
}

.img-150 {
    background: url('//push.wixcore.net/inventory/items/150.png') no-repeat
}

.img-151 {
    background: url('//push.wixcore.net/inventory/items/151.png') no-repeat
}

.img-152 {
    background: url('//push.wixcore.net/inventory/items/152.png') no-repeat
}

.img-153 {
    background: url('//push.wixcore.net/inventory/items/153.png') no-repeat
}

.img-154 {
    background: url('//push.wixcore.net/inventory/items/154.png') no-repeat
}

.img-155 {
    background: url('//push.wixcore.net/inventory/items/155.png') no-repeat
}

.img-156 {
    background: url('//push.wixcore.net/inventory/items/156.png') no-repeat
}

.img-157 {
    background: url('//push.wixcore.net/inventory/items/157.png') no-repeat
}

.img-158 {
    background: url('//push.wixcore.net/inventory/items/158.png') no-repeat
}

.img-159 {
    background: url('//push.wixcore.net/inventory/items/159.png') no-repeat
}

.img-160 {
    background: url('//push.wixcore.net/inventory/items/160.png') no-repeat
}

.img-161 {
    background: url('//push.wixcore.net/inventory/items/161.png') no-repeat
}

.img-162 {
    background: url('//push.wixcore.net/inventory/items/162.png') no-repeat
}

.img-163 {
    background: url('//push.wixcore.net/inventory/items/163.png') no-repeat
}

.img-164 {
    background: url('//push.wixcore.net/inventory/items/164.png') no-repeat
}

.img-165 {
    background: url('//push.wixcore.net/inventory/items/165.png') no-repeat
}

.img-166 {
    background: url('//push.wixcore.net/inventory/items/166.png') no-repeat
}

.img-167 {
    background: url('//push.wixcore.net/inventory/items/167.png') no-repeat
}

.img-168 {
    background: url('//push.wixcore.net/inventory/items/168.png') no-repeat
}

.img-169 {
    background: url('//push.wixcore.net/inventory/items/169.png') no-repeat
}

.img-170 {
    background: url('//push.wixcore.net/inventory/items/170.png') no-repeat
}

.img-171 {
    background: url('//push.wixcore.net/inventory/items/171.png') no-repeat
}

.img-172 {
    background: url('//push.wixcore.net/inventory/items/172.png') no-repeat
}

.img-173 {
    background: url('//push.wixcore.net/inventory/items/173.png') no-repeat
}

.img-174 {
    background: url('//push.wixcore.net/inventory/items/174.png') no-repeat
}

.img-175 {
    background: url('//push.wixcore.net/inventory/items/175.png') no-repeat
}

.img-176 {
    background: url('//push.wixcore.net/inventory/items/176.png') no-repeat
}

.img-177 {
    background: url('//push.wixcore.net/inventory/items/177.png') no-repeat
}

.img-178 {
    background: url('//push.wixcore.net/inventory/items/178.png') no-repeat
}

.img-179 {
    background: url('//push.wixcore.net/inventory/items/179.png') no-repeat
}

.img-180 {
    background: url('//push.wixcore.net/inventory/items/180.png') no-repeat
}

.img-181 {
    background: url('//push.wixcore.net/inventory/items/181.png') no-repeat
}

.img-182 {
    background: url('//push.wixcore.net/inventory/items/182.png') no-repeat
}

.img-183 {
    background: url('//push.wixcore.net/inventory/items/183.png') no-repeat
}

.img-184 {
    background: url('//push.wixcore.net/inventory/items/184.png') no-repeat
}

.img-185 {
    background: url('//push.wixcore.net/inventory/items/185.png') no-repeat
}

.img-186 {
    background: url('//push.wixcore.net/inventory/items/186.png') no-repeat
}

.img-187 {
    background: url('//push.wixcore.net/inventory/items/187.png') no-repeat
}

.img-188 {
    background: url('//push.wixcore.net/inventory/items/188.png') no-repeat
}

.img-189 {
    background: url('//push.wixcore.net/inventory/items/189.png') no-repeat
}

.img-190 {
    background: url('//push.wixcore.net/inventory/items/190.png') no-repeat
}

.img-191 {
    background: url('//push.wixcore.net/inventory/items/191.png') no-repeat
}

.img-192 {
    background: url('//push.wixcore.net/inventory/items/192.png') no-repeat
}

.img-193 {
    background: url('//push.wixcore.net/inventory/items/193.png') no-repeat
}

.img-194 {
    background: url('//push.wixcore.net/inventory/items/194.png') no-repeat
}

.img-195 {
    background: url('//push.wixcore.net/inventory/items/195.png') no-repeat
}

.img-196 {
    background: url('//push.wixcore.net/inventory/items/196.png') no-repeat
}

.img-197 {
    background: url('//push.wixcore.net/inventory/items/197.png') no-repeat
}

.img-198 {
    background: url('//push.wixcore.net/inventory/items/198.png') no-repeat
}

.img-199 {
    background: url('//push.wixcore.net/inventory/items/199.png') no-repeat
}

.img-200 {
    background: url('//push.wixcore.net/inventory/items/200.png') no-repeat
}

.img-201 {
    background: url('//push.wixcore.net/inventory/items/201.png') no-repeat
}

.img-202 {
    background: url('//push.wixcore.net/inventory/items/202.png') no-repeat
}

.img-203 {
    background: url('//push.wixcore.net/inventory/items/203.png') no-repeat
}

.img-204 {
    background: url('//push.wixcore.net/inventory/items/204.png') no-repeat
}

.img-205 {
    background: url('//push.wixcore.net/inventory/items/205.png') no-repeat
}

.img-206 {
    background: url('//push.wixcore.net/inventory/items/206.png') no-repeat
}

.img-207 {
    background: url('//push.wixcore.net/inventory/items/207.png') no-repeat
}

.img-208 {
    background: url('//push.wixcore.net/inventory/items/208.png') no-repeat
}

.img-209 {
    background: url('//push.wixcore.net/inventory/items/209.png') no-repeat
}

.img-210 {
    background: url('//push.wixcore.net/inventory/items/210.png') no-repeat
}

.img-211 {
    background: url('//push.wixcore.net/inventory/items/211.png') no-repeat
}

.img-212 {
    background: url('//push.wixcore.net/inventory/items/212.png') no-repeat
}

.img-213 {
    background: url('//push.wixcore.net/inventory/items/213.png') no-repeat
}

.img-214 {
    background: url('//push.wixcore.net/inventory/items/214.png') no-repeat
}

.img-215 {
    background: url('//push.wixcore.net/inventory/items/215.png') no-repeat
}

.img-216 {
    background: url('//push.wixcore.net/inventory/items/216.png') no-repeat
}

.img-217 {
    background: url('//push.wixcore.net/inventory/items/217.png') no-repeat
}

.img-218 {
    background: url('//push.wixcore.net/inventory/items/218.png') no-repeat
}

.img-219 {
    background: url('//push.wixcore.net/inventory/items/219.png') no-repeat
}

.img-220 {
    background: url('//push.wixcore.net/inventory/items/220.png') no-repeat
}

.img-221 {
    background: url('//push.wixcore.net/inventory/items/221.png') no-repeat
}

.img-222 {
    background: url('//push.wixcore.net/inventory/items/222.png') no-repeat
}

.img-223 {
    background: url('//push.wixcore.net/inventory/items/223.png') no-repeat
}

.img-224 {
    background: url('//push.wixcore.net/inventory/items/224.png') no-repeat
}

.img-225 {
    background: url('//push.wixcore.net/inventory/items/225.png') no-repeat
}

.img-226 {
    background: url('//push.wixcore.net/inventory/items/226.png') no-repeat
}

.img-227 {
    background: url('//push.wixcore.net/inventory/items/227.png') no-repeat
}

.img-228 {
    background: url('//push.wixcore.net/inventory/items/228.png') no-repeat
}

.img-229 {
    background: url('//push.wixcore.net/inventory/items/229.png') no-repeat
}

.img-230 {
    background: url('//push.wixcore.net/inventory/items/230.png') no-repeat
}

.img-231 {
    background: url('//push.wixcore.net/inventory/items/231.png') no-repeat
}

.img-232 {
    background: url('//push.wixcore.net/inventory/items/232.png') no-repeat
}

.img-233 {
    background: url('//push.wixcore.net/inventory/items/233.png') no-repeat
}

.img-234 {
    background: url('//push.wixcore.net/inventory/items/234.png') no-repeat
}

.img-235 {
    background: url('//push.wixcore.net/inventory/items/235.png') no-repeat
}

.img-236 {
    background: url('//push.wixcore.net/inventory/items/236.png') no-repeat
}

.img-237 {
    background: url('//push.wixcore.net/inventory/items/237.png') no-repeat
}

.img-238 {
    background: url('//push.wixcore.net/inventory/items/238.png') no-repeat
}

.img-239 {
    background: url('//push.wixcore.net/inventory/items/239.png') no-repeat
}

.img-240 {
    background: url('//push.wixcore.net/inventory/items/240.png') no-repeat
}

.img-241 {
    background: url('//push.wixcore.net/inventory/items/241.png') no-repeat
}

.img-242 {
    background: url('//push.wixcore.net/inventory/items/242.png') no-repeat
}

.img-243 {
    background: url('//push.wixcore.net/inventory/items/243.png') no-repeat
}

.img-244 {
    background: url('//push.wixcore.net/inventory/items/244.png') no-repeat
}

.img-245 {
    background: url('//push.wixcore.net/inventory/items/245.png') no-repeat
}

.img-246 {
    background: url('//push.wixcore.net/inventory/items/246.png') no-repeat
}

.img-247 {
    background: url('//push.wixcore.net/inventory/items/247.png') no-repeat
}

.img-248 {
    background: url('//push.wixcore.net/inventory/items/248.png') no-repeat
}

.img-249 {
    background: url('//push.wixcore.net/inventory/items/249.png') no-repeat
}

.img-250 {
    background: url('//push.wixcore.net/inventory/items/250.png') no-repeat
}

.img-251 {
    background: url('//push.wixcore.net/inventory/items/251.png') no-repeat
}

.img-252 {
    background: url('//push.wixcore.net/inventory/items/252.png') no-repeat
}

.img-253 {
    background: url('//push.wixcore.net/inventory/items/253.png') no-repeat
}

.img-254 {
    background: url('//push.wixcore.net/inventory/items/254.png') no-repeat
}

.img-255 {
    background: url('//push.wixcore.net/inventory/items/255.png') no-repeat
}

.img-256 {
    background: url('//push.wixcore.net/inventory/items/256.png') no-repeat
}

.img-257 {
    background: url('//push.wixcore.net/inventory/items/257.png') no-repeat
}

.img-258 {
    background: url('//push.wixcore.net/inventory/items/258.png') no-repeat
}

.img-259 {
    background: url('//push.wixcore.net/inventory/items/259.png') no-repeat
}

.img-260 {
    background: url('//push.wixcore.net/inventory/items/260.png') no-repeat
}

.img-261 {
    background: url('//push.wixcore.net/inventory/items/261.png') no-repeat
}

.img-262 {
    background: url('//push.wixcore.net/inventory/items/262.png') no-repeat
}

.img-263 {
    background: url('//push.wixcore.net/inventory/items/263.png') no-repeat
}

.img-264 {
    background: url('//push.wixcore.net/inventory/items/264.png') no-repeat
}

.img-265 {
    background: url('//push.wixcore.net/inventory/items/265.png') no-repeat
}

.img-266 {
    background: url('//push.wixcore.net/inventory/items/266.png') no-repeat
}

.img-267 {
    background: url('//push.wixcore.net/inventory/items/267.png') no-repeat
}

.img-268 {
    background: url('//push.wixcore.net/inventory/items/268.png') no-repeat
}

.img-269 {
    background: url('//push.wixcore.net/inventory/items/269.png') no-repeat
}

.img-270 {
    background: url('//push.wixcore.net/inventory/items/270.png') no-repeat
}

.img-271 {
    background: url('//push.wixcore.net/inventory/items/271.png') no-repeat
}

.img-272 {
    background: url('//push.wixcore.net/inventory/items/272.png') no-repeat
}

.img-273 {
    background: url('//push.wixcore.net/inventory/items/273.png') no-repeat
}

.img-274 {
    background: url('//push.wixcore.net/inventory/items/274.png') no-repeat
}

.img-275 {
    background: url('//push.wixcore.net/inventory/items/275.png') no-repeat
}

.img-276 {
    background: url('//push.wixcore.net/inventory/items/276.png') no-repeat
}

.img-277 {
    background: url('//push.wixcore.net/inventory/items/277.png') no-repeat
}

.img-278 {
    background: url('//push.wixcore.net/inventory/items/278.png') no-repeat
}

.img-279 {
    background: url('//push.wixcore.net/inventory/items/279.png') no-repeat
}

.img-280 {
    background: url('//push.wixcore.net/inventory/items/280.png') no-repeat
}

.img-281 {
    background: url('//push.wixcore.net/inventory/items/281.png') no-repeat
}

.img-282 {
    background: url('//push.wixcore.net/inventory/items/282.png') no-repeat
}

.img-283 {
    background: url('//push.wixcore.net/inventory/items/283.png') no-repeat
}

.img-284 {
    background: url('//push.wixcore.net/inventory/items/284.png') no-repeat
}

.img-285 {
    background: url('//push.wixcore.net/inventory/items/285.png') no-repeat
}

.img-286 {
    background: url('//push.wixcore.net/inventory/items/286.png') no-repeat
}

.img-287 {
    background: url('//push.wixcore.net/inventory/items/287.png') no-repeat
}

.img-288 {
    background: url('//push.wixcore.net/inventory/items/288.png') no-repeat
}

.img-289 {
    background: url('//push.wixcore.net/inventory/items/289.png') no-repeat
}

.img-290 {
    background: url('//push.wixcore.net/inventory/items/290.png') no-repeat
}

.img-291 {
    background: url('//push.wixcore.net/inventory/items/291.png') no-repeat
}

.img-292 {
    background: url('//push.wixcore.net/inventory/items/292.png') no-repeat
}

.img-293 {
    background: url('//push.wixcore.net/inventory/items/293.png') no-repeat;
}

.img-294 {
    background: url('//push.wixcore.net/inventory/items/294.png') no-repeat;
}

.img-295 {
    background: url('//push.wixcore.net/inventory/items/295.png') no-repeat;
}

.img-296 {
    background: url('//push.wixcore.net/inventory/items/296.png') no-repeat;
}

.img-297 {
    background: url('//push.wixcore.net/inventory/items/297.png') no-repeat;
}

.img-298 {
    background: url('//push.wixcore.net/inventory/items/298.png') no-repeat;
}

.img-299 {
    background: url('//push.wixcore.net/inventory/items/299.png') no-repeat;
}

.img-300 {
    background: url('//push.wixcore.net/inventory/items/300.png') no-repeat;
}

.img-301 {
    background: url('//push.wixcore.net/inventory/items/301.png') no-repeat;
}

.img-302 {
    background: url('//push.wixcore.net/inventory/items/302.png') no-repeat;
}

.img-303 {
    background: url('//push.wixcore.net/inventory/items/303.png') no-repeat;
}

.img-304 {
    background: url('//push.wixcore.net/inventory/items/304.png') no-repeat;
}

.img-305 {
    background: url('//push.wixcore.net/inventory/items/305.png') no-repeat;
}

.img-306 {
    background: url('//push.wixcore.net/inventory/items/306.png') no-repeat;
}

.img-307 {
    background: url('//push.wixcore.net/inventory/items/307.png') no-repeat;
}

.img-308 {
    background: url('//push.wixcore.net/inventory/items/308.png') no-repeat;
}

.img-309 {
    background: url('//push.wixcore.net/inventory/items/309.png') no-repeat;
}

.img-310 {
    background: url('//push.wixcore.net/inventory/items/310.png') no-repeat;
}

.img-311 {
    background: url('//push.wixcore.net/inventory/items/311.png') no-repeat;
}

.img-312 {
    background: url('//push.wixcore.net/inventory/items/312.png') no-repeat;
}

.img-313 {
    background: url('//push.wixcore.net/inventory/items/313.png') no-repeat;
}

.img-314 {
    background: url('//push.wixcore.net/inventory/items/314.png') no-repeat;
}

.img-315 {
    background: url('//push.wixcore.net/inventory/items/315.png') no-repeat;
}

.img-316 {
    background: url('//push.wixcore.net/inventory/items/316.png') no-repeat;
}

.img-317 {
    background: url('//push.wixcore.net/inventory/items/317.png') no-repeat;
}

.img-318 {
    background: url('//push.wixcore.net/inventory/items/318.png') no-repeat;
}

.img-319 {
    background: url('//push.wixcore.net/inventory/items/319.png') no-repeat;
}

.img-320 {
    background: url('//push.wixcore.net/inventory/items/320.png') no-repeat;
}

.img-321 {
    background: url('//push.wixcore.net/inventory/items/321.png') no-repeat;
}

.img-322 {
    background: url('//push.wixcore.net/inventory/items/322.png') no-repeat;
}

.img-323 {
    background: url('//push.wixcore.net/inventory/items/323.png') no-repeat;
}

.img-324 {
    background: url('//push.wixcore.net/inventory/items/324.png') no-repeat;
}

.img-325 {
    background: url('//push.wixcore.net/inventory/items/325.png') no-repeat;
}

.img-326 {
    background: url('//push.wixcore.net/inventory/items/326.png') no-repeat;
}

.img-327 {
    background: url('//push.wixcore.net/inventory/items/327.png') no-repeat;
}

.img-328 {
    background: url('//push.wixcore.net/inventory/items/328.png') no-repeat;
}

.img-329 {
    background: url('//push.wixcore.net/inventory/items/329.png') no-repeat;
}

.img-330 {
    background: url('//push.wixcore.net/inventory/items/330.png') no-repeat;
}

.img-331 {
    background: url('//push.wixcore.net/inventory/items/331.png') no-repeat;
}

.img-332 {
    background: url('//push.wixcore.net/inventory/items/332.png') no-repeat;
}

.img-333 {
    background: url('//push.wixcore.net/inventory/items/333.png') no-repeat;
}

.img-334 {
    background: url('//push.wixcore.net/inventory/items/334.png') no-repeat;
}

.img-335 {
    background: url('//push.wixcore.net/inventory/items/335.png') no-repeat;
}

.img-336 {
    background: url('//push.wixcore.net/inventory/items/336.png') no-repeat;
}

.img-337 {
    background: url('//push.wixcore.net/inventory/items/337.png') no-repeat;
}

.img-338 {
    background: url('//push.wixcore.net/inventory/items/338.png') no-repeat;
}

.img-339 {
    background: url('//push.wixcore.net/inventory/items/339.png') no-repeat;
}

.img-340 {
    background: url('//push.wixcore.net/inventory/items/340.png') no-repeat;
}

.img-341 {
    background: url('//push.wixcore.net/inventory/items/341.png') no-repeat;
}

.img-342 {
    background: url('//push.wixcore.net/inventory/items/342.png') no-repeat;
}

.img-343 {
    background: url('//push.wixcore.net/inventory/items/343.png') no-repeat;
}

.img-344 {
    background: url('//push.wixcore.net/inventory/items/344.png') no-repeat;
}

.img-345 {
    background: url('//push.wixcore.net/inventory/items/345.png') no-repeat;
}

.img-346 {
    background: url('//push.wixcore.net/inventory/items/346.png') no-repeat;
}

.img-347 {
    background: url('//push.wixcore.net/inventory/items/347.png') no-repeat;
}

.img-348 {
    background: url('//push.wixcore.net/inventory/items/348.png') no-repeat;
}

.img-349 {
    background: url('//push.wixcore.net/inventory/items/349.png') no-repeat;
}

.img-350 {
    background: url('//push.wixcore.net/inventory/items/350.png') no-repeat;
}

.img-351 {
    background: url('//push.wixcore.net/inventory/items/351.png') no-repeat;
}

.img-352 {
    background: url('//push.wixcore.net/inventory/items/352.png') no-repeat;
}

.img-353 {
    background: url('//push.wixcore.net/inventory/items/353.png') no-repeat;
}

.img-354 {
    background: url('//push.wixcore.net/inventory/items/354.png') no-repeat;
}

.img-355 {
    background: url('//push.wixcore.net/inventory/items/355.png') no-repeat;
}

.img-356 {
    background: url('//push.wixcore.net/inventory/items/356.png') no-repeat;
}

.img-357 {
    background: url('//push.wixcore.net/inventory/items/357.png') no-repeat;
}

.img-358 {
    background: url('//push.wixcore.net/inventory/items/358.png') no-repeat;
}

.img-359 {
    background: url('//push.wixcore.net/inventory/items/359.png') no-repeat;
}

.img-360 {
    background: url('//push.wixcore.net/inventory/items/360.png') no-repeat;
}

.img-361 {
    background: url('//push.wixcore.net/inventory/items/361.png') no-repeat;
}

.img-362 {
    background: url('//push.wixcore.net/inventory/items/362.png') no-repeat;
}

.img-363 {
    background: url('//push.wixcore.net/inventory/items/363.png') no-repeat;
}

.img-364 {
    background: url('//push.wixcore.net/inventory/items/364.png') no-repeat;
}

.img-365 {
    background: url('//push.wixcore.net/inventory/items/365.png') no-repeat;
}

.img-366 {
    background: url('//push.wixcore.net/inventory/items/366.png') no-repeat;
}

.img-367 {
    background: url('//push.wixcore.net/inventory/items/367.png') no-repeat;
}

.img-368 {
    background: url('//push.wixcore.net/inventory/items/368.png') no-repeat;
}

.img-369 {
    background: url('//push.wixcore.net/inventory/items/369.png') no-repeat;
}

.img-370 {
    background: url('//push.wixcore.net/inventory/items/370.png') no-repeat;
}

.img-371 {
    background: url('//push.wixcore.net/inventory/items/371.png') no-repeat;
}

.img-372 {
    background: url('//push.wixcore.net/inventory/items/372.png') no-repeat;
}

.img-373 {
    background: url('//push.wixcore.net/inventory/items/373.png') no-repeat;
}

.img-374 {
    background: url('//push.wixcore.net/inventory/items/374.png') no-repeat;
}

.img-375 {
    background: url('//push.wixcore.net/inventory/items/375.png') no-repeat;
}

.img-376 {
    background: url('//push.wixcore.net/inventory/items/376.png') no-repeat;
}

.img-377 {
    background: url('//push.wixcore.net/inventory/items/377.png') no-repeat;
}

.img-378 {
    background: url('//push.wixcore.net/inventory/items/378.png') no-repeat;
}

.img-379 {
    background: url('//push.wixcore.net/inventory/items/379.png') no-repeat;
}

.img-380 {
    background: url('//push.wixcore.net/inventory/items/380.png') no-repeat;
}

.img-381 {
    background: url('//push.wixcore.net/inventory/items/381.png') no-repeat;
}

.img-382 {
    background: url('//push.wixcore.net/inventory/items/382.png') no-repeat;
}

.img-383 {
    background: url('//push.wixcore.net/inventory/items/383.png') no-repeat;
}

.img-384 {
    background: url('//push.wixcore.net/inventory/items/384.png') no-repeat;
}

.img-385 {
    background: url('//push.wixcore.net/inventory/items/385.png') no-repeat;
}

.img-386 {
    background: url('//push.wixcore.net/inventory/items/386.png') no-repeat;
}

.img-387 {
    background: url('//push.wixcore.net/inventory/items/387.png') no-repeat;
}

.img-388 {
    background: url('//push.wixcore.net/inventory/items/388.png') no-repeat;
}

.img-389 {
    background: url('//push.wixcore.net/inventory/items/389.png') no-repeat;
}

.img-390 {
    background: url('//push.wixcore.net/inventory/items/390.png') no-repeat;
}

.img-391 {
    background: url('//push.wixcore.net/inventory/items/391.png') no-repeat;
}

.img-392 {
    background: url('//push.wixcore.net/inventory/items/392.png') no-repeat;
}

.img-393 {
    background: url('//push.wixcore.net/inventory/items/393.png') no-repeat;
}

.img-394 {
    background: url('//push.wixcore.net/inventory/items/394.png') no-repeat;
}

.img-395 {
    background: url('//push.wixcore.net/inventory/items/395.png') no-repeat;
}

.img-396 {
    background: url('//push.wixcore.net/inventory/items/396.png') no-repeat;
}

.img-397 {
    background: url('//push.wixcore.net/inventory/items/397.png') no-repeat;
}

.img-398 {
    background: url('//push.wixcore.net/inventory/items/398.png') no-repeat;
}

.img-399 {
    background: url('//push.wixcore.net/inventory/items/399.png') no-repeat;
}

.img-400 {
    background: url('//push.wixcore.net/inventory/items/400.png') no-repeat;
}

.img-401 {
    background: url('//push.wixcore.net/inventory/items/401.png') no-repeat;
}

.img-402 {
    background: url('//push.wixcore.net/inventory/items/402.png') no-repeat;
}

.img-403 {
    background: url('//push.wixcore.net/inventory/items/403.png') no-repeat;
}

.img-404 {
    background: url('//push.wixcore.net/inventory/items/404.png') no-repeat;
}

.img-405 {
    background: url('//push.wixcore.net/inventory/items/405.png') no-repeat;
}

.img-406 {
    background: url('//push.wixcore.net/inventory/items/406.png') no-repeat;
}

.img-407 {
    background: url('//push.wixcore.net/inventory/items/407.png') no-repeat;
}

.img-408 {
    background: url('//push.wixcore.net/inventory/items/408.png') no-repeat;
}

.img-409 {
    background: url('//push.wixcore.net/inventory/items/409.png') no-repeat;
}

.img-410 {
    background: url('//push.wixcore.net/inventory/items/410.png') no-repeat;
}

.img-411 {
    background: url('//push.wixcore.net/inventory/items/411.png') no-repeat;
}

.img-412 {
    background: url('//push.wixcore.net/inventory/items/412.png') no-repeat;
}

.img-413 {
    background: url('//push.wixcore.net/inventory/items/413.png') no-repeat;
}

.img-414 {
    background: url('//push.wixcore.net/inventory/items/414.png') no-repeat;
}

.img-415 {
    background: url('//push.wixcore.net/inventory/items/415.png') no-repeat;
}

.img-416 {
    background: url('//push.wixcore.net/inventory/items/416.png') no-repeat;
}

.img-417 {
    background: url('//push.wixcore.net/inventory/items/417.png') no-repeat;
}

.img-418 {
    background: url('//push.wixcore.net/inventory/items/418.png') no-repeat;
}

.img-419 {
    background: url('//push.wixcore.net/inventory/items/419.png') no-repeat;
}

.img-420 {
    background: url('//push.wixcore.net/inventory/items/420.png') no-repeat;
}

.img-421 {
    background: url('//push.wixcore.net/inventory/items/421.png') no-repeat;
}

.img-422 {
    background: url('//push.wixcore.net/inventory/items/422.png') no-repeat;
}

.img-423 {
    background: url('//push.wixcore.net/inventory/items/423.png') no-repeat;
}

.img-424 {
    background: url('//push.wixcore.net/inventory/items/424.png') no-repeat;
}

.img-425 {
    background: url('//push.wixcore.net/inventory/items/425.png') no-repeat;
}

.img-426 {
    background: url('//push.wixcore.net/inventory/items/426.png') no-repeat;
}

.img-427 {
    background: url('//push.wixcore.net/inventory/items/427.png') no-repeat;
}

.img-428 {
    background: url('//push.wixcore.net/inventory/items/428.png') no-repeat;
}

.img-429 {
    background: url('//push.wixcore.net/inventory/items/429.png') no-repeat;
}

.img-430 {
    background: url('//push.wixcore.net/inventory/items/430.png') no-repeat;
}

.img-431 {
    background: url('//push.wixcore.net/inventory/items/431.png') no-repeat;
}

.img-432 {
    background: url('//push.wixcore.net/inventory/items/432.png') no-repeat;
}

.img-433 {
    background: url('//push.wixcore.net/inventory/items/433.png') no-repeat;
}

.img-434 {
    background: url('//push.wixcore.net/inventory/items/434.png') no-repeat;
}

.img-435 {
    background: url('//push.wixcore.net/inventory/items/435.png') no-repeat;
}

.img-436 {
    background: url('//push.wixcore.net/inventory/items/436.png') no-repeat;
}

.img-437 {
    background: url('//push.wixcore.net/inventory/items/437.png') no-repeat;
}

.img-438 {
    background: url('//push.wixcore.net/inventory/items/438.png') no-repeat;
}

.img-439 {
    background: url('//push.wixcore.net/inventory/items/439.png') no-repeat;
}

.img-440 {
    background: url('//push.wixcore.net/inventory/items/440.png') no-repeat;
}

.img-441 {
    background: url('//push.wixcore.net/inventory/items/441.png') no-repeat;
}

.img-442 {
    background: url('//push.wixcore.net/inventory/items/442.png') no-repeat;
}

.img-443 {
    background: url('//push.wixcore.net/inventory/items/443.png') no-repeat;
}

.img-444 {
    background: url('//push.wixcore.net/inventory/items/444.png') no-repeat;
}

.img-445 {
    background: url('//push.wixcore.net/inventory/items/445.png') no-repeat;
}

.img-446 {
    background: url('//push.wixcore.net/inventory/items/446.png') no-repeat;
}

.img-447 {
    background: url('//push.wixcore.net/inventory/items/447.png') no-repeat;
}

.img-448 {
    background: url('//push.wixcore.net/inventory/items/448.png') no-repeat;
}

.img-449 {
    background: url('//push.wixcore.net/inventory/items/449.png') no-repeat;
}

.img-450 {
    background: url('//push.wixcore.net/inventory/items/450.png') no-repeat;
}

.img-451 {
    background: url('//push.wixcore.net/inventory/items/451.png') no-repeat;
}

.img-452 {
    background: url('//push.wixcore.net/inventory/items/452.png') no-repeat;
}

.img-453 {
    background: url('//push.wixcore.net/inventory/items/453.png') no-repeat;
}

.img-454 {
    background: url('//push.wixcore.net/inventory/items/454.png') no-repeat;
}

.img-455 {
    background: url('//push.wixcore.net/inventory/items/455.png') no-repeat;
}

.img-456 {
    background: url('//push.wixcore.net/inventory/items/456.png') no-repeat;
}

.img-457 {
    background: url('//push.wixcore.net/inventory/items/457.png') no-repeat;
}

.img-458 {
    background: url('//push.wixcore.net/inventory/items/458.png') no-repeat;
}

.img-459 {
    background: url('//push.wixcore.net/inventory/items/459.png') no-repeat;
}

.img-460 {
    background: url('//push.wixcore.net/inventory/items/460.png') no-repeat;
}

.img-461 {
    background: url('//push.wixcore.net/inventory/items/461.png') no-repeat;
}

.img-462 {
    background: url('//push.wixcore.net/inventory/items/462.png') no-repeat;
}

.img-463 {
    background: url('//push.wixcore.net/inventory/items/463.png') no-repeat;
}

.img-464 {
    background: url('//push.wixcore.net/inventory/items/464.png') no-repeat;
}

.img-465 {
    background: url('//push.wixcore.net/inventory/items/465.png') no-repeat;
}

.img-466 {
    background: url('//push.wixcore.net/inventory/items/466.png') no-repeat;
}

.img-467 {
    background: url('//push.wixcore.net/inventory/items/467.png') no-repeat;
}

.img-468 {
    background: url('//push.wixcore.net/inventory/items/468.png') no-repeat;
}

.img-469 {
    background: url('//push.wixcore.net/inventory/items/469.png') no-repeat;
}

.img-470 {
    background: url('//push.wixcore.net/inventory/items/470.png') no-repeat;
}

.img-471 {
    background: url('//push.wixcore.net/inventory/items/471.png') no-repeat;
}

.img-472 {
    background: url('//push.wixcore.net/inventory/items/472.png') no-repeat;
}

.img-473 {
    background: url('//push.wixcore.net/inventory/items/473.png') no-repeat;
}

.img-474 {
    background: url('//push.wixcore.net/inventory/items/474.png') no-repeat
}

.img-475 {
    background: url('//push.wixcore.net/inventory/items/475.png') no-repeat
}

.img-476 {
    background: url('//push.wixcore.net/inventory/items/476.png') no-repeat
}

.img-477 {
    background: url('//push.wixcore.net/inventory/items/477.png') no-repeat
}

.img-478 {
    background: url('//push.wixcore.net/inventory/items/478.png') no-repeat
}

.img-479 {
    background: url('//push.wixcore.net/inventory/items/479.png') no-repeat
}

.img-480 {
    background: url('//push.wixcore.net/inventory/items/480.png') no-repeat
}

.img-481 {
    background: url('//push.wixcore.net/inventory/items/481.png') no-repeat
}

.img-482 {
    background: url('//push.wixcore.net/inventory/items/482.png') no-repeat
}

.img-483 {
    background: url('//push.wixcore.net/inventory/items/483.png') no-repeat
}

.img-484 {
    background: url('//push.wixcore.net/inventory/items/484.png') no-repeat
}

.img-485 {
    background: url('//push.wixcore.net/inventory/items/485.png') no-repeat
}

.img-486 {
    background: url('//push.wixcore.net/inventory/items/486.png') no-repeat
}

.img-487 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-488 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-489 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-490 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-491 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-492 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-493 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-494 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-495 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-496 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-497 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-498 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-499 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-500 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-501 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-502 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-503 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-504 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-505 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-506 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-507 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-508 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-509 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-510 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-511 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-512 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-513 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-514 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-515 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-516 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-517 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-518 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-519 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-520 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-521 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-522 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-523 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-524 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-525 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-526 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-527 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-528 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-529 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-530 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-531 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-532 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-533 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-534 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-535 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.img-536 {
    background: url('//push.wixcore.net/inventory/items/487-536.png') no-repeat
}

.icon-item,
.img-inv-box {
    width: 5.926vh;
    height: 5.926vh;
    position: relative;
    background-size: 3.9vh;
    background-position: center;
    margin: 0vh 0.7vh 0vh 0.7vh !important;
}